.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  flex-wrap: wrap;
}

.photo{
  height: 333px;
  background: transparent;
  /* outline: 1px solid #c5c5c5; */
  flex: 0 0 32.333333%;
  margin: 5px;
  display: inline-block;
  overflow: hidden; 
}

.photo img{
  height: 100%;
  width: auto;
  cursor: pointer;
  transition: 1s; 
}

.photo img:hover{
  transform: scale(1.2);
}