.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  flex-wrap: wrap;
}

.photo{
  height: 333px;
  background: transparent;
  flex: 0 0 32.333333%;
  margin: 5px;
  display: inline-block;
  overflow: hidden; 
  position: relative;
}

.photo img{
  height: 100%;
  width: auto;
  cursor: pointer;
  transition: 1s; 
}

.photo img:hover{
  transform: scale(1.2);
}

.close{
  height: 30px;
    width: 30px;
    background: black;
    opacity: 0.5;
    position: absolute;
    right: 0px;
    z-index: 100;
    cursor: pointer;
}

.close:hover{
  opacity: 1;
  transition: all 0.5s;
}

.close .x{
  height: 30px;
  width: 5px;
  background: white;
  border-radius: 10px;
  position: absolute;
  left: calc(50% - 2.5px);
  transform: rotate(45deg);

}

.close .y{
  height: 30px;
  width: 5px;
  background: white;
  border-radius: 10px;
  position: absolute;
  left: calc(50% - 2.5px);
  transform: rotate(315deg);
}