.App {
  text-align: center;
}

* {
  box-sizing: border-box
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.maxwidth {
  max-width: 1000px;
  margin: 0 auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#root{
  width: 100%;
  background: linear-gradient(131deg, rgba(24,187,156,1) 0%, rgba(106,57,175,1) 42%, rgb(158, 30, 128) 72%, rgba(115,53,134,1) 100%);
  animation: gradient 10s infinite linear; 
  background-size: 400%; 
  position: absolute;
  z-index: -1;
}

@keyframes gradient {
  0% {
      background-position: 0% 30%;
  }
  50% {
      background-position: 30% 60%;
  }
  100% {
      background-position: 0% 100%;
  }
}
