.slider{
  width: 100%;
  outline: 1px solid #c5c5c5;
  margin-top: 50px;
  position: relative;
  overflow: hidden;
  height: 400px;
  box-shadow: 4px 4px 30px 1px rgb(34 60 80 / 48%)
}

.slider img{
  height: auto;
  width: 100%;
  position: absolute;
  left: 0;
  top: -50%;
  transition: all 0.2s;
  transform: translateX(0%);
}

.slider img.slider-img-prev {
  transform: translateX(-100%);
}

.slider img.slider-img-next {
  transform: translateX(100%);
}

